* {
    box-sizing: border-box;
}

.main {
    background-color: #ccc;
    position: absolute;

    width: 400px;
    height: auto;
    //  margin: auto;
    //  top: 0;
    //  bottom: 0;
    //  left: 0;
    //  right: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    overflow: hidden;
    .circle1,
    .circle2 {
        width: 100px;
        height: 100px;
        background-color: #fc0;
        border-radius: 50%;
    }
    .circle1 {
        position: absolute;
        top: 0;
        left: 0;
        margin-left: -50px;
        margin-top: -50px;
    }
    .circle2 {
        position: absolute;
        right: 0;
        bottom: 0;
        margin-right: -50px;
        margin-bottom: -50px;
    }
    p{
        text-align: center;
    }
}
