@charset "UTF-8";
* {
  box-sizing: border-box;
}

body,
html {
  background-color: #DEDEDE;
  font-family: "微软雅黑",sans-serif;
  height: 100%;
}

header {
  height: 72px;
  background-color: #333333;
  padding: 10px 20px 0;
}
header h1 {
  float: left;
  text-indent: -9999px;
  width: 122px;
  height: 52px;
  background-image: url("../img/logo.png");
  background-size: 122px 52px;
}
header nav {
  height: 52px;
  float: right;
}
header nav li {
  font-size: 14px;
  display: inline-block;
  margin-right: 10px;
}
header nav li a {
  line-height: 52px;
  height: 52px;
  display: block;
  text-decoration: none;
  color: #fff;
}
header nav li:last-child a {
  color: #ccc;
}

main {
  width: 1200px;
  padding: 0 20px;
  margin: 0 auto 20px;
}
main article {
  border-right: 2px solid #848484;
  border-bottom: 2px solid #848484;
  background-color: #fff;
  margin-top: 15px;
  padding: 25px 15px;
}
main article h1 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}
main article h2 {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 10px;
}
main article h2 + p {
  text-indent: 0;
  margin-bottom: 10px;
}
main article h2 + p span {
  font-size: 12px;
}
main article p {
  text-indent: 2em;
}
main article ul {
  text-indent: 2em;
  line-height: 1.5;
}
main article .olli {
  margin-left: 4em;
}
main article .olli + p {
  text-indent: 0;
}
main article table {
  width: 100%;
}
main article table td {
  padding-left: 5px;
  border: 1px solid #ccc;
}
main article table th {
  padding-left: 5px;
  background-color: #333333;
  color: #fff;
}
main article table tr:last-child td {
  background-color: #CCCCCC;
}
main .pics {
  border-right: 2px solid #848484;
  border-bottom: 2px solid #848484;
  background-color: #fff;
  margin-top: 15px;
  padding: 25px 60px;
}
main .pics h1 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  margin-left: -45px;
}
main .pics figure {
  width: 160px;
  height: 160px;
  border: 1px solid #ccc;
  padding: 10px 30px;
  margin-bottom: 20px;
}
main .pics figure p {
  text-align: center;
  margin-bottom: 10px;
}
main .pics figure img {
  width: 100px;
  height: 100px;
}
main aside {
  border-right: 2px solid #848484;
  border-bottom: 2px solid #848484;
  background-color: #fff;
  margin-top: 15px;
  padding: 25px 15px;
}
main aside h1 {
  display: block;
  height: 32px;
  line-height: 32px;
  font-size: 20px;
  font-weight: bold;
  border-left: 2px solid #ccc;
  padding-left: 10px;
  margin-bottom: 20px;
}
main aside form {
  margin: 0 auto;
}
main aside form .left {
  width: 33%;
  float: left;
  text-align: right;
  margin-right: 2%;
  margin-bottom: 10px;
}
main aside form .right {
  width: 65%;
  float: left;
  margin-bottom: 10px;
}
main aside form .help-text {
  padding-left: 2%;
  width: 67%;
  float: right;
  color: #ccc;
  font-size: 14px;
  margin-bottom: 20px;
}
main aside form .submit {
  font-family: "微软雅黑";
  color: #fff;
  width: 100%;
  height: 40px;
  background-color: #3355D0;
  border-radius: 10px;
}

footer {
  width: 100%;
  background-color: #333333;
  padding: 15px 0 25px;
  color: #fff;
  text-align: center;
}

.clearfix {
  overflow: auto;
  _height: 1%;
}

/*# sourceMappingURL=task02.css.map */
